{% extends 'base.html' %}
{% load static %}

{% block TitleBlock %}Login - {% endblock %}

{% block BodyBlock %}
<div id="all">
    <div id="content" class="mb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg 3"></div>
                <div class="col-lg-6">
                    <div class="box">
                        <h1 class="text-center">Welcome Back!</h1>
                        <p class="text-muted text-center">If you have any questions, please feel free to <a
                            href="{% url 'home:contact' %}">contact us</a></p>
                        <hr>
                        <form action="{% url 'account:user_login' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email">Email*</label>
                                <input id="email" type="email" name="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password*</label>
                                <input id="password" type="password" name="password" class="form-control" required>
                            </div>
                            <div class="text-right">
                                <h4><a href="{% url 'account:password_reset' %}">Forget Password?</a></h4>
                                
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-sign-in"></i> Log in
                                </button>
                            </div>
                        </form>
                        <hr>
                        <div class="mt-4 text-center">
                            <h4>Don't have an account? <a href="{% url 'account:signup' %}">Create New</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg 3"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}