.review-block{
    margin-bottom: 10px;
}
.bold{
    font-weight: bold;
}
.stars{
    font-size:18px;
    color: orange;
}
.title{
    font-weight: bold;
    margin: 0;
    padding: 5px 0px 0px 0px;
}
.comment{
    margin: 0;
    padding: 0;
}
.review-block-header{
    padding: 0;
    margin: 0;
}
.card-header h5{
    padding-top: 10px;
    font-weight: bold;
}
.card .card-body form p{
    padding: 0;
    margin: 0;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.rating>input {
    display: none
}
.rating>label {
    position: relative;
    width: 1em;
    font-size: 40px;
    color: orange;
    cursor: pointer
}
.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}
.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}
.rating>input:checked~label:before {
    opacity: 1
}
.rating:hover>input:checked~label:before {
    opacity: 0.4
}