{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block TitleBlock %}{% endblock %}Obaju - e-commerce - Develop by Shahjalal Hazari</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="all,follow">
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,700' %}">
	<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/94d3ec2a2a.js" crossorigin="anonymous"></script>
	{% block HeadBlock %}
	{% endblock %}
</head>

<body>
	<!-- navbar-->
	{% include 'navbar.html' %}


	<!-- messages -->
	<div class="messages container">
		{% if messages %}
		{% for message in messages %}
		<div {% if message.tags %} class="alert alert-{{ message.tags }} {% endif %}" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-hidden="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
		{% endif %}
	</div>
	<!-- messages end -->


	<!-- Body Content -->
	{% block BodyBlock %}

	{% endblock %}
	<!-- Body Content end -->


	<!--*** FOOTER ***-->
	{% include 'footer.html' %}
	<!-- *** FOOTER END ***-->


	<!--
    *** COPYRIGHT ***
    -->
	<div id="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mb-2 mb-lg-0">
					<p class="text-center text-lg-left">©2019 Your name goes here.</p>
				</div>
				<div class="col-lg-6">
					<p class="text-center text-lg-right">Template design by <a
							href="https://bootstrapious.com/">Bootstrapious</a>
						<!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- *** COPYRIGHT END ***-->

	<!-- JavaScript files-->
	{% include 'scripts.html' %}
	{% block ScriptBlock %}

	{% endblock %}

</html>