{% extends 'base.html' %}
{% load static %}

{% block TitleBlock %}{{ product.title }} - {% endblock %}

{% block BodyBlock %}
<div id="all">
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- breadcrumb-->
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="{% url 'home:home' %}">Home</a>
							</li>
							<li class="breadcrumb-item">
								<a href="{% url 'store:category_list' pk=product.sub_category.category.for_whom.pk %}">
									{{ product.sub_category.category.for_whom.whom }}
								</a>
							</li>
							<li class="breadcrumb-item">
								<a href="{% url 'store:sub_cat_list' pk=product.sub_category.category.pk %}">
									{{ product.sub_category.category.name }}
								</a>
							</li>
							<li class="breadcrumb-item">
								<a href="{% url 'store:product_list' pk=product.sub_category.pk %}">
									{{ product.sub_category.name }}
								</a>
							</li>
							<li aria-current="page" class="breadcrumb-item active">{{ product.title }}</li>
						</ol>
					</nav>
				</div>

				<div class="col-lg-12 order-1 order-lg-2">
					<div id="productMain" class="row">
						<div class="col-md-5">
							<div data-slider-id="1" class="owl-carousel shop-detail-carousel">
								<div class="item">
									<img src="/media/{{ product.main_image }}" alt="{{ product.title }}"
										class="img-fluid">
								</div>
								{% if product.img_1 %}
									<div class="item">
										<img src="/media/{{ product.img_1 }}" alt="{{ product.title }}" class="img-fluid">
									</div>
								{% endif %}
								{% if product.img_2 %}
									<div class="item">
										<img src="/media/{{ product.img_2 }}" alt="{{ product.title }}" class="img-fluid">
									</div>
								{% endif %}
								{% if product.img_3 %}
									<div class="item">
										<img src="/media/{{ product.img_3 }}" alt="{{ product.title }}" class="img-fluid">
									</div>
								{% endif %}
								{% if product.img_4 %}
									<div class="item">
										<img src="/media/{{ product.img_4 }}" alt="{{ product.title }}" class="img-fluid">
									</div>
								{% endif %}
								{% if product.img_5 %}
									<div class="item">
										<img src="/media/{{ product.img_5 }}" alt="{{ product.title }}" class="img-fluid">
									</div>
								{% endif %}
							</div>
							<div class="ribbon sale">
								<div class="theribbon">SALE</div>
								<div class="ribbon-background"></div>
							</div>
							<!-- /.ribbon-->
							<div class="ribbon new">
								<div class="theribbon">NEW</div>
								<div class="ribbon-background"></div>
							</div>
							<!-- /.ribbon-->
						</div>
						<div class="col-md-7">
							<div class="box">
								<h1 class="text-center">{{ product.title }}</h1>
								<p class="goToDescription">
									<a href="#details" class="scroll-to">Scroll to product details, material, care &amp; sizing, review</a>
								</p>
								<p class="price">
									<del style="color: #999;">
										{% if product.old_price %}${{ product.old_price }}{% endif %}
									</del>
									${{ product.price }}
								</p>
								<p class="text-center buttons">
									<a href="{% url 'order:add' pk=product.pk %}" class="btn btn-primary">
										<i class="fa fa-shopping-cart"></i> Add to cart
									</a>
									<a href="#" class="btn btn-outline-primary">
										<i class="fa fa-heart"></i> Add to wishlist
									</a>
								</p>
							</div>
							<div data-slider-id="1" class="owl-thumbs">
								<button class="owl-thumb-item">
									<img src="/media/{{ product.main_image }}" alt="{{ product.title }}"
										class="img-fluid">
								</button>
								{% if product.img_1 %}
									<button class="owl-thumb-item">
										<img src="/media/{{ product.img_1 }}" alt="{{ product.title }}" class="img-fluid">
									</button>
								{% endif %}
								{% if product.img_2 %}
									<button class="owl-thumb-item">
										<img src="/media/{{ product.img_2 }}" alt="{{ product.title }}" class="img-fluid">
									</button>
								{% endif %}
								{% if product.img_3 %}
									<button class="owl-thumb-item">
										<img src="/media/{{ product.img_3 }}" alt="{{ product.title }}" class="img-fluid">
									</button>
								{% endif %}
								{% if product.img_4 %}
									<button class="owl-thumb-item">
										<img src="/media/{{ product.img_4 }}" alt="{{ product.title }}" class="img-fluid">
									</button>
								{% endif %}
								{% if product.img_5 %}
									<button class="owl-thumb-item">
										<img src="/media/{{ product.img_5 }}" alt="{{ product.title }}" class="img-fluid">
									</button>
								{% endif %}
							</div>
						</div>
					</div>
				</div>

				<div class="box col-lg-12 order-1 order-lg-2">
					<div id="details">
						<ul class="nav nav-pills mb-3 text-uppercase" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-detail"
									role="tab" aria-controls="pills-home" aria-selected="true">Details</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-review"
									role="tab" aria-controls="pills-profile" aria-selected="false">Reviews ({{ product.review.count }})</a>
							</li>
						</ul>
						<hr>
						<div class="tab-content pt-2 pl-1" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-detail" role="tabpanel"
								aria-labelledby="pills-home-tab">
								<p>{{ product.description | linebreaks }}</p>
							</div>
							<div class="tab-pane fade" id="pills-review" role="tabpanel"
								aria-labelledby="pills-profile-tab">
								<div class="row">
									<!-- product review area start -->
									<div class="col-lg-7 col-sm-12">
										{% if reviews %}
											{% for review in reviews %}
												<div class="card border-primary review-block">
													<div class="card-body">
														<p class="review-block-header">
															<i class="far fa-user"></i>
															<strong>{{ review.name }}</strong>
															<i class="far fa-clock"></i>
															<span class="text-secondary text-muted">{{ review.created | date:"M d, Y" }}</span>
															<span class="float-right stars">{% if review.rating < 5 %}<i class="far fa-star"></i>{% else %}<i class="fas fa-star"></i>{% endif %}</span>
															<span class="float-right stars">{% if review.rating < 4 %}<i class="far fa-star"></i>{% else %}<i class="fas fa-star"></i>{% endif %}</span>
															<span class="float-right stars">{% if review.rating < 3 %}<i class="far fa-star"></i>{% else %}<i class="fas fa-star"></i>{% endif %}</span>
															<span class="float-right stars">{% if review.rating < 2 %}<i class="far fa-star"></i>{% else %}<i class="fas fa-star"></i>{% endif %}</span>
															<span class="float-right stars">{% if review.rating < 1 %}<i class="far fa-star"></i>{% else %}<i class="fas fa-star"></i>{% endif %}</span>
														</p>
														<p class="title">{{ review.subject }}</p>
														<p class="comment">{{ review.comment | linebreaks }}</p>
													</div>
												</div>
											{% endfor %}
											<!-- pagination start -->
											{% if reviews.has_other_pages %}
											<nav aria-label="Page navigation example">
												<ul class="pagination">
													{% if reviews.has_previous %}
													<li class="page-item">
														<a class="page-link"  href="?page={{ reviews.previous_page_number }}">&laquo;</a>
													</li>
													{% endif %}

													{% for i in reviews.paginator.page_range %}
													{% if reviews.number == i %}
													<li class="page-item active">
														<span class="page-link">{{ i }}
															<span class="sr-only">(current)</span>
														</span>
													</li>
													{% else %}
													<li class="page-item">
														<a class="page-link" href="?page={{ i }}">{{ i }}</a>
													</li>
													{% endif %}
													{% endfor %}

													{% if reviews.has_next %}
													<li class="page-item">
														<a class="page-link" href="?page={{ reviews.next_page_number }}">&raquo;</a>
													</li>
													{% endif %}
												</ul>
											</nav>
											{% endif %}
											<!-- pagination end -->
										{% else %}
										<h3>This product has no review.</h3>
										{% endif %}
									</div>
									<!-- product review area end -->

									<!-- review form area start -->
									<div class="col-lg-5 col-sm-12">
										<div class="card border-primary">
											<div class="card-header text-center bold text-uppercase">
												<h5>Share your thoughts with others</h5>
											</div>
											<div class="card-body text-uppercase">
												<form action="{% url 'store:add_review' pk=product.pk %}" method="post" accept-charset="UTF-8">
													{% csrf_token %}
													<div class="form-group">
														<label for="name">Name:</label>
														<input class="form-control" type="text" name="name" id="name" required>
													</div>
													<div class="form-group">
														<label for="subject">Subject:</label>
														<input class="form-control" type="text" name="subject" id="subject" required>
													</div>
													<label>Rating:</label>
													<div class="rating">
														<input type="radio" name="rating" value="5" id="5">
														<label for="5">☆</label>
														<input type="radio" name="rating" value="4" id="4">
														<label for="4">☆</label>
														<input type="radio" name="rating" value="3" id="3">
														<label for="3">☆</label>
														<input type="radio" name="rating" value="2" id="2">
														<label for="2">☆</label>
														<input type="radio" name="rating" value="1" id="1">
														<label for="1">☆</label>
													</div>
													<div class="form-group">
														<label for="comment">Write about this product:</label>
														<textarea class="form-control" id="comment" name="comment" required rows="2"></textarea>
													</div>
													{% if request.user.is_authenticated %}
														<button type="submit" class="btn btn-primary btn-block text-uppercase">Submit</button>
														<div class="text-muted text-center">
															<small>Once you submit this form, you can't change it.</small>
														</div>
													{% else %}
														<p class="text-muted text-center">To submit your review please <a href="#" data-toggle="modal" data-target="#login-modal">login</a></p>
													{% endif %}
												</form>
											</div>
										</div>
									</div>
									<!-- review form area end -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

<!-- *** MENUS AND FILTERS END ***-->
<!-- <div class="banner">
					<a href="#">
						<img src="{% static 'img/banner.jpg' %}" alt="sales 2014" class="img-fluid">
					</a>
					</div> 
				</div> -->



<!-- <div class="card-header">
					<h3 class="h4 card-title">Colours <a href="#" class="btn btn-sm btn-danger pull-right"><i
								class="fa fa-times-circle"></i> Clear</a></h3>
				</div>
				<div class="card-body">
					<form>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox"><span class="colour white"></span> White (14)
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox"><span class="colour blue"></span> Blue (10)
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox"><span class="colour green"></span> Green (20)
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox"><span class="colour yellow"></span> Yellow (13)
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox"><span class="colour red"></span> Red (10)
								</label>
							</div>
						</div>
						<button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i>
							Apply</button>
					</form>
				</div>
			</div> -->



<!-- <div class="col-lg-3 order-2 order-lg-1">
				
				<div class="card sidebar-menu mb-4">
						<div class="card-header">
							<h3 class="h4 card-title">Categories</h3>
						</div>
						<div class="card-body">
							<ul class="nav nav-pills flex-column category-menu">
								<li><a href="category.html" class="nav-link">Men <span
											class="badge badge-secondary">42</span></a>
									<ul class="list-unstyled">
										<li><a href="category.html" class="nav-link">T-shirts</a></li>
										<li><a href="category.html" class="nav-link">Shirts</a></li>
										<li><a href="category.html" class="nav-link">Pants</a></li>
										<li><a href="category.html" class="nav-link">Accessories</a></li>
									</ul>
								</li>
								<li><a href="category.html" class="nav-link active">Ladies <span
											class="badge badge-light">123</span></a>
									<ul class="list-unstyled">
										<li><a href="category.html" class="nav-link">T-shirts</a></li>
										<li><a href="category.html" class="nav-link">Skirts</a></li>
										<li><a href="category.html" class="nav-link">Pants</a></li>
										<li><a href="category.html" class="nav-link">Accessories</a></li>
									</ul>
								</li>
								<li><a href="category.html" class="nav-link">Kids <span
											class="badge badge-secondary">11</span></a>
									<ul class="list-unstyled">
										<li><a href="category.html" class="nav-link">T-shirts</a></li>
										<li><a href="category.html" class="nav-link">Skirts</a></li>
										<li><a href="category.html" class="nav-link">Pants</a></li>
										<li><a href="category.html" class="nav-link">Accessories</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div> -->
<!-- <div class="card sidebar-menu mb-4">
						<div class="card-header">
							<h3 class="h4 card-title">Brands <a href="#" class="btn btn-sm btn-danger pull-right"><i
										class="fa fa-times-circle"></i> Clear</a></h3>
						</div>
						<div class="card-body">
							<form>
								<div class="form-group">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Armani (10)
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"> Versace (12)
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"> Carlo Bruni (15)
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"> Jack Honey (14)
										</label>
									</div>
								</div>
								<button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i>
									Apply</button>
							</form>
						</div>
					</div>
<div class="card sidebar-menu mb-4">-->






<!--<div class="col-lg-12 order-1 order-lg-2">
						<div class="row same-height-row">
							<div class="col-md-3 col-sm-6">
								<div class="box same-height">
									<h3>You may also like these products</h3>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="product same-height">
									<div class="flip-container">
										<div class="flipper">
											<div class="front">
												<a href="detail.html">
													<img src="{% static 'img/product2.jpg' %}" alt="" class="img-fluid">
												</a>
											</div>
											<div class="back">
												<a href="detail.html">
													<img src="{% static 'img/product2_2.jpg' %}" alt="" class="img-fluid">
												</a>
											</div>
										</div>
									</div>
									<a href="detail.html" class="invisible">
										<img src="{% static 'img/product2.jpg' %}" alt="" class="img-fluid">
									</a>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="product same-height">
									<div class="flip-container">
										<div class="flipper">
											<div class="front">
												<a href="detail.html">
													<img src="{% static 'img/product1.jpg' %}" alt="" class="img-fluid">
												</a>
											</div>
											<div class="back">
												<a href="detail.html">
													<img src="{% static 'img/product1_2.jpg' %}" alt="" class="img-fluid">
												</a>
											</div>
										</div>
									</div>
									<a href="detail.html" class="invisible">
										<img src="{% static 'img/product1.jpg' %}" alt="" class="img-fluid">
									</a>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="product same-height">
									<div class="flip-container">
										<div class="flipper">
											<div class="front">
												<a href="detail.html">
													<img src="{% static 'img/product3.jpg' %}" alt="" class="img-fluid">
												</a>
											</div>
											<div class="back">
												<a href="detail.html">
													<img src="{% static 'img/product3_2.jpg' %}" alt="" class="img-fluid">
												</a>
											</div>
										</div>
									</div>
									<a href="detail.html" class="invisible">
										<img src="{% static 'img/product3.jpg' %}" alt="" class="img-fluid">
									</a>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row same-height-row">
							<div class="col-md-3 col-sm-6">
								<div class="box same-height">
									<h3>Products viewed recently</h3>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
			<div class="product same-height">
				<div class="flip-container">
						<div class="flipper">
							<div class="front"><a href="detail.html"><img src="img/product2.jpg" alt=""
														class="img-fluid"></a></div>
											<div class="back"><a href="detail.html"><img src="img/product2_2.jpg" alt=""
														class="img-fluid"></a></div>
										</div>
									</div><a href="detail.html" class="invisible"><img src="img/product2.jpg" alt=""
											class="img-fluid"></a>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="product same-height">
									<div class="flip-container">
										<div class="flipper">
											<div class="front"><a href="detail.html"><img src="img/product1.jpg" alt=""
														class="img-fluid"></a></div>
											<div class="back"><a href="detail.html"><img src="img/product1_2.jpg" alt=""
														class="img-fluid"></a></div>
										</div>
									</div><a href="detail.html" class="invisible"><img src="img/product1.jpg" alt=""
											class="img-fluid"></a>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="product same-height">
									<div class="flip-container">
										<div class="flipper">
											<div class="front"><a href="detail.html"><img src="img/product3.jpg" alt=""
														class="img-fluid"></a></div>
											<div class="back"><a href="detail.html"><img src="img/product3_2.jpg" alt=""
														class="img-fluid"></a></div>
										</div>
									</div><a href="detail.html" class="invisible"><img src="img/product3.jpg" alt=""
											class="img-fluid"></a>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>
									</div>
								</div>
							</div>
						</div>
					</div> -->

<!-- /.col-md-9-->