{% extends 'base.html' %}
{% load static %}

{% block TitleBlock %}{{ sub_category.name }} - {{ sub_category.category.name }} - {{ sub_category.category.for_whom.whom }} | {% endblock %}

{% block BodyBlock %}
<div id="all">
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- breadcrumb-->
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
                                <a href="{% url 'home:home' %}">Home</a>
                            </li>
							<li aria-current="page" class="breadcrumb-item">
                                <a href="{% url 'store:category_list' pk=sub_category.category.for_whom.pk %}">
                                    {{ sub_category.category.for_whom.whom }}
                                </a>
							</li>
							<li aria-current="page" class="breadcrumb-item">
                                <a href="{% url 'store:sub_cat_list' pk=sub_category.category.pk %}">
                                    {{ sub_category.category.name }}
                                </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item">
                                {{ sub_category.name }}
                            </li>
						</ol>
					</nav>
				</div>
				
				<div class="col-lg-12">
					<div class="row products">
						{% for product in products %}
							<div class="col-lg-3 col-md-6">
								<div class="product">
									<div class="flip-container">
										<div class="flipper">
											<div class="front">
												<a href="{% url 'store:product_detail' pk=product.pk %}">
													<img src="/media/{{ product.main_image }}" alt="{{ product.title }}"
														class="img-fluid">
												</a>
											</div>
										</div>
									</div>
									<a href="{% url 'store:product_detail' pk=product.pk %}" class="invisible">
										<img src="/media/{{ product.main_image }}" alt="{{ product.title }}"
											class="img-fluid">
									</a>
									<div class="text">
										<h3><a href="{% url 'store:product_detail' pk=product.pk %}">{{ product.title }}</a>
										</h3>
										<p class="price">
											<del>{% if product.old_price %}${{ product.old_price }}{% endif %}</del>
											${{ product.price }}
										</p>
										<p class="buttons">
											<a href="{% url 'store:product_detail' pk=product.pk %}"
												class="btn btn-outline-secondary">View detail</a>
											<a href="{% url 'order:add' pk=product.pk %}" class="btn btn-primary">
												<i class="fa fa-shopping-cart"></i>Add to cart
											</a>
										</p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="pages">
						<!-- <p class="loadMore"><a href="#" class="btn btn-primary btn-lg"><i
									class="fa fa-chevron-down"></i> Load more</a></p> -->
						<nav aria-label="Page navigation example" class="d-flex justify-content-center">
							<ul class="pagination">
								<li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span
											aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
								<li class="page-item active"><a href="#" class="page-link">1</a></li>
								<li class="page-item"><a href="#" class="page-link">2</a></li>
								<li class="page-item"><a href="#" class="page-link">3</a></li>
								<li class="page-item"><a href="#" class="page-link">4</a></li>
								<li class="page-item"><a href="#" class="page-link">5</a></li>
								<li class="page-item"><a href="#" aria-label="Next" class="page-link"><span
											aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- /.col-lg-9-->
			</div>
		</div>
	</div>
</div>

{% endblock %}


<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'home:home' %}">Home</a>
		</li>
		<li aria-current="page" class="breadcrumb-item">
			<a href="{% url 'store:category_list' pk=sub_category.category.for_whom.pk %}">
				{{ sub_category.category.for_whom.whom }}
			</a>
		</li>
		<li aria-current="page" class="breadcrumb-item">
			<a href="#">
				{{ sub_category.category.name }}
			</a>
		</li>
		<li aria-current="page" class="breadcrumb-item active">{{ sub_category.name }}</li>
	</ol>
</nav>