{% extends 'base.html' %}
{% load static %}
{% load cart_tag %}

{% block TitleBlock %}Shopping Cart - {% endblock %}

{% block BodyBlock %}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home:home' %}">Home</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">Shopping cart</li>
                        </ol>
                    </nav>

                </div>
                <div id="basket" class="col-lg-12">
                    <div class="box">
                        <h1>Shopping cart</h1>
                        <p class="text-muted">You currently have {{ request.user | item_total }} item(s) in your
                            cart.</p>

                        <!-- TABLE -->
                        <div class="table-responsive">
                            <table class="table">

                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-left pl-5">Product</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-center">Unit price</th>
                                        <th class="text-center">Total</th>
                                        <th class="text-center">Remove</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for cart in carts %}
                                    <tr>
                                        <td class="text-left pr-2" style="padding: 0; margin: 0;">
                                            <img src="/media/{{ cart.product.main_image }}"
                                                alt="{{ cart.product.title }}" style="width: 50px;">
                                        </td>

                                        <td class="text-left" style="padding: 0; margin-left: 10px;">
                                            <a href="{% url 'store:product_detail' pk=cart.product.pk %}">
                                                {{ cart.product.title }}
                                            </a>
                                        </td>

                                        <td class="text-center">
                                            <a href="{% url 'order:dec_qty' pk=cart.product.pk %}">
                                                <span class="badge light">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </a>
                                            {{ cart.quantity }}
                                            <a href="{% url 'order:inc_qty' pk=cart.product.pk %}">
                                                <span class="badge light">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </a>
                                        </td>

                                        <td class="text-center">
                                            <del style="color: #999;">
                                                {% if cart.product.old_price %}${{ cart.product.old_price }}{% endif %}
                                            </del>
                                            ${{ cart.product.price }}
                                        </td>

                                        <td class="text-right pr-5">${{ cart.get_cart_total }}</td>

                                        <td class="text-center">
                                            <a href="{% url 'order:remove' pk=cart.product.pk %}" style="color: red;">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th colspan="4" class="text-left" style="padding-left: 0; margin-left: 0;">Order Total</th>
                                        <th class="text-right pr-5">${{ order.get_total_amount }}</th>
                                        <th></th>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>

                        <div class="box-footer d-flex justify-content-between">
                            <a href="{% url 'home:home' %}" class="btn btn-outline-secondary">
                                <i class="fa fa-chevron-left"></i> Continue shopping
                            </a>
                            <a href="{% url 'payment:shipping_address' %}" class="btn btn-primary">
                                Proceed to checkout <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>

                    </div>
                    <!-- /.box-->
                    <div class="row same-height-row">
                        <div class="col-lg-3 col-md-6">
                            <div class="box same-height">
                                <h3>You may also like these products</h3>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front"><a href="detail.html"><img src="img/product3.jpg" alt=""
                                                    class="img-fluid"></a></div>
                                        <div class="back"><a href="detail.html"><img src="img/product3_2.jpg" alt=""
                                                    class="img-fluid"></a></div>
                                    </div>
                                </div><a href="detail.html" class="invisible"><img src="img/product3.jpg" alt=""
                                        class="img-fluid"></a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- <div class="col-lg-3">
                    <div class="box">
                        <div class="box-header">
                            <h4 class="mb-0">Coupon code</h4>
                        </div>
                        <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control"><span class="input-group-append">
                                    <button type="button" class="btn btn-primary"><i
                                            class="fa fa-gift"></i></button></span>
                            </div>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}