{% extends 'base.html' %}
{% load static %}
{% load active_link_tags %}
{% load cart_tag %}

{% block TitleBlock %}Customer Orders - {% endblock %}

{% block BodyBlock %}
<div id="all">
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- breadcrumb-->
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="{% url 'home:home' %}">Home</a>
							</li>
							<li aria-current="page" class="breadcrumb-item active">My orders</li>
						</ol>
					</nav>
				</div>

				<div class="col-lg-3">
					<!--  *** CUSTOMER MENU *** -->
					{% include 'Account/user_menu.html' %}
				</div>

				<div id="customer-orders" class="col-lg-9">
					<div class="box">
						<h1>My orders</h1>
						<p class="lead">Your orders on one place.</p>
						<p class="text-muted">If you have any questions, please feel free to
							<a href="{% url 'home:contact' %}">contact us</a>,
							our customer service center is working for you 24/7.</p>
						<hr>
						{% if orders %}
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="text-center">#</th>
										<th class="text-center">Order ID</th>
										<th class="text-center">Date</th>
										<th class="text-center">Total</th>
										<th class="text-center">Status</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								<tbody>
									{% for order in orders %}
									<tr>
										<th class="text-center">{{ forloop.counter }}</th>
										<th class="text-center">{{ order.orderId | orderId_filter }}</th>
										<td class="text-center">{{ order.updated | date:"g:i A, d/m/y" }}</td>
										<td class="text-center">${{ order.get_total_amount }}</td>
										<td class="text-center">
											<span class=" badge 
												{% if order.get_status_display == 'Received' %} badge-success 
												{% elif order.get_status_display == 'Prepareing' %} badge-primary 
												{% elif order.get_status_display == 'Shipping' %} badge-info 
												{% elif order.get_status_display == 'Cancelled' %} badge-danger 
												{% else %} badge-warning 
												{% endif %}">
												{{ order.get_status_display }}
											</span>
										</td>
										<td class="text-center">
											<a href="{% url 'order:order' pk=order.id orderId=order.orderId %}" class="btn btn-primary btn-sm">View</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						{% else %}
						<h1>You haven't ordered anything yet.</h1>
						{% endif %}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}