{% extends 'base.html' %}
{% load static %}
{% load cart_tag %}

{% block TitleBlock %}Delivery Method - {% endblock %}

{% block BodyBlock %}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home:home' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'order:cart' %}">Shopping cart</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">Delivery Method</li>
                        </ol>
                    </nav>
                </div>
                <div id="checkout" class="col-lg-12">
                    <div class="box">
                        <form method="POST" action="">
                            <h1>Delivery Method</h1>

                            {% csrf_token %}

                            <div class="nav flex-column flex-sm-row nav-pills">
                                <a href="{% url 'payment:shipping_address' %}"
                                    class="nav-link flex-sm-fill text-sm-center">
                                    <i class="fa fa-map-marker"></i>Shipping Address
                                </a>
                                <a href="{% url 'payment:delivery_method' %}"
                                    class="nav-link flex-sm-fill text-sm-center active">
                                    <i class="fa fa-truck"></i>Delivery Method
                                </a>
                                <a href="#" class="nav-link flex-sm-fill text-sm-center disabled">
                                    <i class="fa fa-money"></i>Payment Method
                                </a>
                                <a href="#" class="nav-link flex-sm-fill text-sm-center disabled">
                                    <i class="fa fa-eye"></i>Order Review
                                </a>
                            </div>

                            <div class="content py-3">
                                <div class="row">
                                    {% for method in delivery_methods %}
                                    <div class="col-md-4">
                                        <div class="box shipping-method">
                                            <h4><strong>{{ method.name }}</strong> - {% if method.cost >= 1 %} ${{ method.cost }} {% else %} FREE {% endif %}</h4>
                                            <p>{{ method.description }}</p>
                                            <div class="box-footer form-check text-center">
                                                <input class="form-check-input" type="radio" name="selected_option" id="{{ method.id }}" value="{{ method.id }}" required>
                                                <label class="form-check-label" for="{{ method.id }}">{{ method.name }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- {% for method in delivery_methods %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    {{ method.name }}
                                </label>
                            </div>
                            {% endfor %} -->

                            <div class="box-footer d-flex justify-content-between">
                                <a href="{% url 'payment:shipping_address' %}" class="btn btn-outline-secondary">
                                    <i class="fa fa-chevron-left"></i>Back to address
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    Continue to Payment Method<i lass="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.col-md-9-->
                <!-- <div class="col-md-3">
                    <div id="order-summary" class="card">
                        <div class="card-header">
                            <h3 class="mt-4 mb-4">Order summary</h3>
                        </div>
                        <div class="card-body">
                            <p class="text-muted">Shipping and additional costs are calculated based on the values you
                                have entered.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Order subtotal</td>
                                            <th>$446.00</th>
                                        </tr>
                                        <tr>
                                            <td>Shipping and handling</td>
                                            <th>$10.00</th>
                                        </tr>
                                        <tr>
                                            <td>Tax</td>
                                            <th>$0.00</th>
                                        </tr>
                                        <tr class="total">
                                            <td>Total</td>
                                            <th>$456.00</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- /.col-md-3-->
            </div>
        </div>
    </div>
</div>

{% endblock %}