{% extends 'base.html' %}
{% load static %}

{% block TitleBlock %}Payment Method - {% endblock %}

{% block BodyBlock %}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="{% url 'home:home' %}">Home</a>
							</li>
							<li class="breadcrumb-item">
								<a href="{% url 'order:cart' %}">Shopping cart</a>
							</li>
							<li aria-current="page" class="breadcrumb-item active">Payment method</li>
						</ol>
					</nav>
                </div>
                <div id="checkout" class="col-lg-12">
                    <div class="box">
                        <form method="POST">

                            {% csrf_token %}

                            <h1>Checkout - Payment Method</h1>

                            <div class="nav flex-column flex-sm-row nav-pills text-center">
                                <a href="{% url 'payment:shipping_address' %}" class="nav-link flex-sm-fill text-sm-center">
                                    <i class="fa fa-map-marker"></i>Shipping Address
                                </a>
                                <a href="{% url 'payment:delivery_method' %}" class="nav-link flex-sm-fill text-sm-center">
                                    <i class="fa fa-truck"></i>Delivery Method
                                </a>
                                <a href="{% url 'payment:payment' %}" class="nav-link flex-sm-fill text-sm-center active">
                                    <i class="fa fa-money"></i>Payment Method
                                </a>
                                <a href="#" class="nav-link flex-sm-fill text-sm-center disabled">
                                    <i class="fa fa-eye"></i>Order Review
                                </a>
                            </div>

                            <div class="content py-3">
                                <div class="row">
                                    {% for method in payment_methods %}
                                    <div class="col-md-4">
                                        <div class="box payment-method">
                                            <h4>{{ method.get_name_display }}</h4>
                                            <p>{{ method.description }}</p>
                                            <div class="box-footer text-center">
                                                <input type="radio" name="selected_option" id="{{ method.slug }}" value="{{ method.slug }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- /.row-->
                            </div>
                            <!-- /.content-->
                            <div class="box-footer d-flex justify-content-between">
                                <a href="{% url 'payment:delivery_method' %}" class="btn btn-outline-secondary">
                                    <i class="fa fa-chevron-left"></i>Back to Delivery Method
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    Continue to Order Review
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </form>
                        <!-- /.box-->
                    </div>
                </div>
                <!-- /.col-lg-9-->
                <!-- <div class="col-lg-3">
                    <div id="order-summary" class="card">
                        <div class="card-header">
                            <h3 class="mt-4 mb-4">Order summary</h3>
                        </div>
                        <div class="card-body">
                            <p class="text-muted">Shipping and additional costs are calculated based on the values you
                                have entered.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Order subtotal</td>
                                            <th>$446.00</th>
                                        </tr>
                                        <tr>
                                            <td>Shipping and handling</td>
                                            <th>$10.00</th>
                                        </tr>
                                        <tr>
                                            <td>Tax</td>
                                            <th>$0.00</th>
                                        </tr>
                                        <tr class="total">
                                            <td>Total</td>
                                            <th>$456.00</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- /.col-lg-3-->
            </div>
        </div>
    </div>
</div>

{% endblock %}